.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-top: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}