.profileName {
  font-weight: 600;
  margin: 0;
  padding-left: 10px;
  color: #fff;
}

.profileButton {
  border: 1px solid gray;
  padding: 3px;
  border-radius: 5px;
}

.navbarItem {
  width: 100px;
  color: white;
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  font-size: 12px;
}

.navbarItemActive {
  text-decoration: none;
  background-color: rgba(144, 202, 249, 0.08);
}

.navbarIcon {
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 5px;
  width: 100%;
}
.navbarIcon .svg {
  font-size: 28px;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .profileButton:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    cursor: pointer;
  }
}

